.DS_Store
template/sagemaker-pipeline-v2.yaml
.idea/
cicd_pipeline_old.yaml
cicd_pipeline.yaml
test.py
sandbox_main.txt
test_func.sh
error.json
list_of_commands_On_EC2_instance
AWS KEYS
run_example.py
random_test.txt
lambdas.py
new_lambda_sagemaker_trigger.yaml
cicd-pipeline-v1.yaml
original_lambda_sagemaker_trigger.py
images/stack-resources.png
